<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <h1>The Grand Auditorium</h1>
    <meta charset="utf-8">

    <!-- This overrides the individual title pages for each page. Will title each page instead. -->
    {{!-- <title>The Grand Auditorium</title> --}}
</head>

<body>
    

    {{{body}}}

</body>
<footer>
    <br>
    <hr>
    <center>The Grand Auditorium, a database assignment developed by Tiffany Conn and Ari Zeto for Oregon State University's CS340. Utilizes NodeJS and Handlebars.</center>
    <hr>
</footer>
</html>