<!-- index.hbs -->

<title>The Grand Auditorium - Homepage</title>

<!-- Add links and text to the index page -->
<div class="banner">
  <h1 class="banner-text">The Grand Auditorium</h1>
</div>

<div class="content">
  <h2><i>Welcome to The Grand Auditorium!</i></h2>
  <p>This is our homepage. Here, you can find links to various sections of our website.</p>

  <h3>Navigation Links</h3>
  <ul>
    <li><a href="/films"><i>Films</i></a></li>
    <li><a href="/auditoriums"><i>Auditoriums</i></a></li>
    <li><a href="/customers"><i>Customers</i></a></li>
    <li><a href="/seats"><i>Seats</i></a></li>
    <li><a href="/auditoriums_customers"><i>Auditoriums_Customers</i></a></li>
  </ul>

  <h3>About Us</h3>
  <p>We are a local movie theater located in Portland. Our theater offers a wide range of films, from blockbusters to independent movies making sure that there is something for everyone. Our comfortable auditoriums and friendly staff ensure that every visit to our theater is a pleasant one. Join us for an unforgettable movie experience!</p>
</div>



<!-- CSS section -->
<style>
.banner {
    background-color: #A4C0D9;
    padding: 10px;
    text-align: center;
}

html {
  height: 100%;
}

body {
  min-height: 100%; 
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
    border: 15px solid #C1E1BB; /* Add the light green border */
    box-sizing: border-box; /* Make sure the border is included in the body's dimensions */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th {
    background-color: #D9EAD3;
    text-align: left;
    padding: 10px;
}

td {
    padding: 10px;
}

/* Apply spacing to the links */
a {
    margin-right: 10px; /* Adjust the value to increase or decrease the spacing */
}

footer {
background-color: #f5f5f5;
padding: 20px;
text-align: center;
border-top: 1px solid #ccc;
}

footer p {
margin: 0;
}

.content {

padding-bottom: 60px; 
}
</style>


<body>
<footer>

</footer>
</body>